<div *ngIf="loading" class="loading">
    <div class="loading-wrapper">
        <img src="assets/img/loader.gif" width="100px" />
        <img src="assets/img/loader.gif" width="100px" />
        <img src="assets/img/loader.gif" width="100px" />
    </div>
</div>
<div class="cards-wrapper">
    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="30px">
        <mat-grid-tile *ngFor="let pokemon of pokemons; let i = index" class="grid-card">
            <mat-grid-tile-header>{{ pokemon.name | uppercase }}</mat-grid-tile-header>
<!--             <img width="100px" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{i+1}}.png"/> -->
        </mat-grid-tile>
    </mat-grid-list>
</div>