.button-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.img-wrapper {
    text-align: center;
}

.poke-info {
    font-size: 10px;
    overflow-x: scroll;
 }