<mat-card (click)="setSelectedPokemon()" [routerLink]="getPokemonLink(pokemon)" [state]="{ fromMain: true }" *ngIf="pokemonDetails && cardLoaded; else elseBlock" [class]="getClass()">
    <mat-card-header>
        <app-icon-type [pokemonName]="pokemon.name" [types]="pokemonDetails.types"></app-icon-type>
    </mat-card-header>
    <mat-card-content>
        <img [hidden]="isImgLoaded" class="poke-loading" src="assets/img/pokeball.gif" />
        <img [hidden]="!isImgLoaded" (load)="isImgLoaded = true" [src]="getSprite(pokemonNo)" width="150px" />
        <div class="weight-height" [title]="pokemonDetails.name + '\'s weight and height'">
            {{ pokemonDetails.weight }}
            <fa-icon [icon]="faRuler"></fa-icon>
            {{ pokemonDetails.height }}
            <fa-icon [icon]="faWeightHanging"></fa-icon>
        </div>
    </mat-card-content>
    <mat-card-footer>
        #{{ pokemonDetails.id }} {{ pokemonDetails.name | uppercase }}
        <div class="stat-hp" [style]="getStyle(pokemonDetails.stats[0].base_stat)"></div>
        <div class="stat-name" [title]="pokemonDetails.name + '\'s max HP'">
            <fa-icon [icon]="faHeart" [style]="{ 'color': 'red' }"></fa-icon>
            {{ pokemonDetails.stats[0].base_stat }}
        </div>
    </mat-card-footer>
</mat-card>
<ng-template #elseBlock>
        <img src="assets/img/loader.gif" width="150px" />
        <p>Catching Pokémon...</p>
</ng-template>